body {
     color: #fff; /*dark grey*/
     background-color: #9598d4; /*purple*/

     text-align: justify;
     width: 610px;
     margin: auto;
}

h1, h2, h3 {
     text-align: center;
     font-family: 'Garamond', cursive, serif;
     padding: .28em;
     background-color: #b1d9ff; /*blue*/
     border-radius: 10px;
     text-shadow: .5px .5px .5px black;
}

h1 {
     font-size: 3.5em;
     font-weight: bold;
}

h2 {
     font-size: 2.3em;
     font-style: italic;
}

h3 {
     font-size: 2.3em;
     font-style: italic;
}

.image {
     display:inline-block;
     margin: auto;
}

div.opportunities {
     margin: auto;
     text-align: center;
}

p, ul {
     font-size: 18px;
     font-family: 'Cambria', 'Calibri', sans-serif;
     letter-spacing: .8px;
     word-spacing: 2px;
}

.hungary {
     padding: 15px 15px 0 15px;
}

li {
     padding: 5px 20px;
}

a:link {
     color: #fff;
}
a:visited {
     color: #fff;
}
