* {
     margin: 15px 0;
     padding: 10 px;
     box-sizing: border-box;
}

body {
     color: #fff; /*dark grey*/
     background-color: #9295ca; /*purple*/
     font-size: 17px;
     font-family: 'Helvetica', sans-serif;
     text-align: justify;
     width: 610px;
     margin: auto;
}

h1, h2, h3 {
     text-align: center;
     font-family: 'Garamond', cursive, serif;
     padding: .3em;
     background-color: /*#e66665 red*/ #accbe8; /*blue*/
     border-radius: 10px;
}

h1 {
     font-size: 3em;
     font-family: 'Garamond', serif;
     font-weight: bolder;
}

/*#header-image {
     display: inline-block;
     height: .1em;
     vertical-align: top;
     margin-left: 0;
}*/

h2 {
     font-size: 2.3em;
     font-family: 'Garamond', serif;
     font-style: italic;
}

h3 {
     font-size: 1.5em;
     font-family: 'Garahmond', serif;
     font-style: italic;
}

.image {
     display:inline-block;
     margin: auto;
}

div.opportunities {
     margin: auto;
     text-align: center;
}

.container {
     float: left;
     width: 5 em;
     height: 100 px;
}

p {
     padding: 15px;
}
.ungarn {
     padding: 15px 15px 0 15px;
}

li {
     padding: 5px 20px;
}

a:link {
     color: #fff;
}
a:visited {
     color: #fff;
}
